# --- DEPENDENCIES (Zajedničko za sve) ---
/node_modules
/npm-debug.log
/yarn-error.log
/testem.log

# --- COMPILED / BUILD OUTPUT (NestJS i Angular) ---
/dist
/out-tsc
/bazel-out
/tmp

# --- ANGULAR SPECIFIC ---
/.angular/
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# --- IDE / EDITOR SETTINGS ---
.idea/
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# --- OS FILES ---
.DS_Store
Thumbs.db

# --- ENVIRONMENT & SECURITY (Veoma bitno!) ---
.env
.env.test
.env.production
.env.local

# --- POSTGRESQL (Ako čuvaš bazu lokalno u folderu) ---
/postgres-data

# --- MISC ---
*.log