
version: '3.8'
services:
  postgres-db:
    image: postgres:15-alpine
    container_name: scoredmind_postgres_db
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: nikola1234
      POSTGRES_DB: ScoreMinds

    ports:
      - "5432:5432"

    volumes:
      - ./postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: